* {
  margin: 0;
  padding: 0;
  color: #fcf7f7;
}

body {
  background: url('crip_fundo.jpg');
  background-size: cover;
  font-family: Didot, serif;
}


.titulo {
  text-align: center;
  color: rgb(248, 246, 246);
  font-size: 60px;

}


.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(253, 4, 4, 0.2);
  background-color: #030000;
  border-radius: 0.5em;
  width: 450px;
  margin: 40px;
  position: relative;
  left: 30%;

}

.btn {
  border: 0;
  color: rgb(248, 247, 247);
  font-weight: bold;
  background-color: rgba(7, 0, 6, 0.801);
  padding: 15px;
  margin-top: 10px;
  border-radius: 0.5em;
  transition: 1s all;
}

.btn:hover {
  background: darkblue;
  transform: scale(1.02);
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.973);
  display: block;
  padding: 0.5em;
  width: 80%;
  height: 50px;
  color: black;
}

.bg-footer {
  text-align: center;
  background-color: transparent;
  font-size: 16px;
  color: rgb(76, 0, 255);
}

@media screen and (max-width: 480px) {

  .titulo {
    font-size: 40px;

  }

  .box {
    width: 250px;
    margin: 40px;
    position: relative;

  }

  .text-input {

    width: 80%;
    height: 40px;

  }

  .bg-footer {
    text-align: center;
    background-color: transparent;
    font-size: 16px;
    color: rgb(76, 0, 255);
  }
}